/* Error: Inconsistent indentation, expected 6 spaces.
 *   ,
 * 5 |      @else 
 *   | ^^^^^
 *   '
 *   src\assets\sass\mixins\_visibility-mixins.sass 5:1  @import
 *   src\assets\sass\mixins\main.sass 3:9                @import
 *   src\assets\sass\index.sass 5:9                      @import
 *   src\assets\sass\Footer.sass 3:9                     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Inconsistent indentation, expected 6 spaces.\a   \2577 \a 5 \2502       @else \a   \2502  ^^^^^\a   \2575 \a   src\\assets\\sass\\mixins\\_visibility-mixins.sass 5:1  @import\a   src\\assets\\sass\\mixins\\main.sass 3:9                @import\a   src\\assets\\sass\\index.sass 5:9                      @import\a   src\\assets\\sass\\Footer.sass 3:9                     root stylesheet";
}
