/* Error: expected newline.
 *   ,
 * 1 | @import "./variables" @import "./responsive" @import "./index" .footer background-color: $background
 *   |                       ^
 *   '
 *   src\assets\sass\Footer.sass 1:23  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected newline.\a   \2577 \a 1 \2502  @import "./variables" @import "./responsive" @import "./index" .footer background-color: $background\a   \2502                        ^\a   \2575 \a   src\\assets\\sass\\Footer.sass 1:23  root stylesheet';
}
