/* Error: This at-rule is not allowed here.
 *    ,
 * 99 |     @else if $thisPrefix == "sm"
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src\assets\sass\_grid.sass 99:5  @import
 *   src\assets\sass\Header.sass 3:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This at-rule is not allowed here.\a    \2577 \a 99 \2502      @else if $thisPrefix == "sm"\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\assets\\sass\\_grid.sass 99:5  @import\a   src\\assets\\sass\\Header.sass 3:9  root stylesheet';
}
