/* GENERAL STYLES */
/* VARIABLES */
/* Foreground Colors */
/* Background Colors */
/* Spacing */
/* VARIABLES */
/* Foreground Colors */
/* Background Colors */
/* Spacing */
.footer {
  background-color: #219EBC;
  color: #023047;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* VARIABLES */
/* Foreground Colors */
/* Background Colors */
/* Spacing */
.head {
  background-color: #219EBC;
  color: #023047;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  position: relative;
  -webkit-box-flex: in-line;
      -ms-flex: in-line;
          flex: in-line;
}

/* STYLES FOR THE APP COMPONENT */
/* VARIABLES */
/* Foreground Colors */
/* Background Colors */
/* Spacing */
.App {
  text-align: center;
}

.App-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-link {
  color: #61dafb;
}

/* VARIABLES */
/* Foreground Colors */
/* Background Colors */
/* Spacing */
form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.formParent {
  text-align: center;
}

/* VARIABLES */
/* Foreground Colors */
/* Background Colors */
/* Spacing */
.itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  border: 2px solid #61dafb;
  border-radius: 15px;
  margin: 1rem;
  width: 20rem;
  height: 30rem;
}

.card:hover {
  -webkit-box-shadow: 8px 5px 5px #023047;
          box-shadow: 8px 5px 5px #023047;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.card-img-top {
  height: 60%;
  border-bottom: 1px solid #61dafb;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card-title {
  margin: .25rem 0;
}

.card-text {
  margin: .25rem 0;
}

.btn-primary {
  padding: 1rem;
  background-color: #023047;
  border-radius: 15px;
  color: #61dafb;
  text-decoration: none;
}

.btn-primary:hover {
  -webkit-box-shadow: 8px 5px 5px #61dafb;
          box-shadow: 8px 5px 5px #61dafb;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  color: #023047;
}

html,
body {
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
  margin: 0 auto;
  max-width: 90%;
}
/*# sourceMappingURL=index.css.map */