/* Error: semicolons aren't allowed in the indented syntax.
 *   ,
 * 1 | @import "./variables", "./responsive", "./index";
 *   |                                                 ^
 *   '
 *   src\assets\sass\Login.sass 1:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: semicolons aren't allowed in the indented syntax.\a   \2577 \a 1 \2502  @import \"./variables\", \"./responsive\", \"./index\";\a   \2502                                                  ^\a   \2575 \a   src\\assets\\sass\\Login.sass 1:49  root stylesheet";
}
