body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  main {
      margin: 0 auto;
      max-width: 90%
  }

    $background: #219EBC;
    $dark: #023047;
    $tertiary: #2A9D8F;
    $light: #8ECAE6;
    $orange: #FB8500;
    $yellow: #FFB703;
    $spacing-one: calc(1rem * 0.5);
    $spacing-two: calc(1rem);
    $spacing-five: calc(2.5rem);
  
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1.5;
    font-size: 18px;
    letter-spacing: .1em;
    color: $dark;
  }

  .footer {
      background-color: $background;
      color: $dark;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
  }

  