@import './_variables'
@import './_responsive'
  
.modalButton
  width: 100%
  background-color: $background
  border-radius: 15px
  input
    height: 2.25rem
    border-radius: 15px
    background-color: white
    width: 100%
    &:focus
      background-color: $searchfill

.itemInfo
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 100%
  .imgDiv
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    img
      width: 50%
      border-radius: 15px

.address
  margin: 0 auto
    