@import './_variables'
@import './_responsive'

.order-info
  margin: 1rem 0
  padding: 0 1rem
  border: 1px solid $background
  box-shadow: 5px 5px 8px $dark
  border-radius: 15px
  display: flex
  flex-direction: column

.orderContainer
  margin-bottom: 4rem
  
.orderDiv
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly


.orderTitle
  display: flex
  justify-content: center
  font-weight: bold
  font-size: larger
  height: fit-content
  padding: 1rem 0