@import './_variables'
@import './_responsive'

.head
  background-color: $background
  color: $dark
  top: 0
  width: 100%
  text-align: center
  position: sticky
  flex: in-line
  
.cats
  list-style: none
  text-decoration: none
  color: $dark

 
