@import './_variables'
@import './_responsive'

select, .formField
  height: 2.25rem
  border-radius: 15px
  background-color: white
  &:focus
    background-color: $searchfill

label
  font-size: larger
  font-weight: bold


.form-container
  margin-bottom: 4rem
